<!--
  Generated template for the QuestionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar hideBackButton>
    <div class="header">
      <div class="left"></div>
      <div class="center">
        <img src="https://d2ue829my6ap69.cloudfront.net/images/Logo_white.png" alt="">
      </div>
      <div class="rigth">
          <ion-icon ios="ios-power" md="md-power" (click)="logoutAlert()"></ion-icon>
      </div>
    </div>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div class="_list" >
    <div *ngIf='questObjDisplay.type == "subjective"'>
      <span class="question">{{questObjDisplay.no}}. {{questObjDisplay.questionName}}</span>
      <div class="question-container">
        <textarea placeholder="Please write answer here..."class="border" name="name" rows="10" [(ngModel)]="questObjDisplay.response"></textarea>
      </div>
    </div>

    <div *ngIf='questObjDisplay.type == "objective"'>
      <span class="question">{{questObjDisplay.no}}. {{questObjDisplay.questionName}}</span>
      <div class="question-container">
        <ion-list  radio-group [(ngModel)]="questObjDisplay.response">
            <ion-item *ngIf='questObjDisplay.option1 != null'>
              <ion-label>{{questObjDisplay.option1}}</ion-label>
              <ion-radio value="{{questObjDisplay.option1}}" color='dark'></ion-radio>
            </ion-item>
            <ion-item *ngIf='questObjDisplay.option2 != null'>
              <ion-label>{{questObjDisplay.option2}}</ion-label>
              <ion-radio value="{{questObjDisplay.option2}}" color='dark'></ion-radio>
            </ion-item>
            <ion-item *ngIf='questObjDisplay.option3 != null'>
              <ion-label>{{questObjDisplay.option3}}</ion-label>
              <ion-radio value="{{questObjDisplay.option3}}" color='dark'></ion-radio>
            </ion-item>
            <ion-item *ngIf='questObjDisplay.option4 != null'>
              <ion-label>{{questObjDisplay.option4}}</ion-label>
              <ion-radio value="{{questObjDisplay.option4}}" color='dark'></ion-radio>
            </ion-item>
            <ion-item *ngIf='questObjDisplay.option5 != null'>
              <ion-label>{{questObjDisplay.option5}}</ion-label>
              <ion-radio value="{{questObjDisplay.option5}}" color='dark'></ion-radio>
            </ion-item>
            <ion-item *ngIf='questObjDisplay.option6 != null'>
              <ion-label>{{questObjDisplay.option6}}</ion-label>
              <ion-radio value="{{questObjDisplay.option6}}" color='dark'></ion-radio>
            </ion-item>
          </ion-list>
      </div>
    </div>

    <div *ngIf='questObjDisplay.type == "video"'>
      <span class="question">{{questObjDisplay.no}}. {{questObjDisplay.questionName}}</span>
      <div class="question-container">
        <div class="tempSpan">
          <h2>Video Question</h2>
          <button ion-button outline (click)="startRecording()">Record</button>
        </div>
      </div>
    </div>

    <div class="float-right" *ngIf='questObjDisplay.type != "video"'>
      <button ion-button class="bc-info" (click)="uploadTechnicalQuestion()">Save</button>
    </div>
  </div>
  <div class="grp-btn">
        <button ion-button color='dark' *ngFor="let question of questions" (click)="toggleClass(question)"
          [ngClass]="{'bc-info': question.qstatus}">{{question.no}}</button>

          <!-- <button ion-button color='light' *ngFor="let question of questions;let i = index" (click)="toggleClass(question)"
            [ngClass]="{'btn-active':question.displayed,'btn-skipped': seen.indexOf(question.no) > -1, 'btn-answered':succ.indexOf(index+1) > -1}">{{question.no}}</button> -->
  </div>

</ion-content>
<ion-footer>
    <button ion-button full color='dark'(click)="finishInterview()">Finish</button>
</ion-footer>
